<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css1/bootstrap.css" type="text/css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-brand" href="/index">Agro Smart!!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/queryAll">Crops Advertisements <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Sell Crops</a>
                </li>
                           
                <li class="nav-item">
                   <a class="nav-link" href="/changeOwner">Buy Crops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/SellHistory">Sell History</a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link " href="/BuyHistory">Buy History</a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link " href="/userProfile">Profile</a>
                   </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"  action="/queryiD" method="POST">
                <input class="form-control mr-sm-2" type="text" name="croptype" placeholder="Search Crop Name" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/logout">Logout</a>
                   </li>
    
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h2>Advertise for Selling Crop</h2> <br>
        </div>
    </div>
    <% if(user) { %>
    <form action="/CreateCar" method="POST" style="margin-left: 120px;">
        <!-- Owner:<br> -->
        <input type="hidden" name="owner" value="<%= user.Id %>"><br>
        <input type="hidden" name="ownername" value="<%= user.Name %>"><br>
        CropKind:<br>
        <input type="text" name="cropKind" placeholder="Aush"><br>
        <br>
        Quantity Per Kg.:<br>
        <input type="text" name="Quantity" placeholder="500kg"><br>
        <br>
        Price Per Kg.:<br>
        <input type="text" name="price" placeholder="200"><br>
        <br>
        <input type="submit" value="Create">

    </form>

<% }%>


</body>

</html>