<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Flamenco&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>AGRO SMART!!</title>
</head>

<body>
    <header>
        <nav>
            <div class="row clearfix ">
                <img src="images/fi.png" class="logo">
                <ul class="main-nav animated slideInDown id=" check-class"">
                    <li> <a href="/queryAll">Query</a> </li>
                    <li> <a href="queryID">Search ID</a> </li>
                    <li> <a href="/create">Create Crop</a> </li>
                    <li><a href="changeOwner">Change Owner</a> </li>
                    
                </ul>
                <a href="#" class="mobile-icon" onclick="slideshow()"><i class="fa fa-bars"></i></a>
            </div>
        </nav>

        <div class="main-conent-header">
            <h1> Welcome To A <span class="colorchange">Smart AGRO!!</span> </h1>
            <form method="POST" action="/enrollAdmin" >
               <a href=""><input type="submit" value="Enroll Admin" class="btn btn-nav"></a> 
            </form>
            
            <form method="POST" action="/User" >
                <a href=""><input type="submit" value="Enroll User" class="btn btn-nav"></a> 
             </form>
            <!-- <a href="#" class="btn btn-nav" onclick="main1()">Enroll User</a> -->
        </div>

    </header>

    <script type="text/javascript">

        function slideshow() {
            var x = document.getElementById('check-class');
            if (x.style.display === "none") {
                x.style.display = "block";
            }
            else {
                s.style.display = "none";
            }

        }

       
       
    </script>

   
</body>

</html>