<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title> 

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <link rel="stylesheet" href="/css1/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css1/login.css">

<head>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">Agro Smart!!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
           
          
           
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0"  action="/logou" method="POST">
            <input class="form-control mr-sm-2" type="text" name="logout" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form> -->
    </div>
</nav>
</head>

<body>
<!-- <div class="image" style="height: 60px;">
    <div class="container ">
        <div class="row">
            <h1>Welcome!!!</h1>
        </div>
    </div>
</div> -->
<div class="body2"></div>


<div class="login-box">
    <img src="../images/avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form action="/login" method="POST">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter your email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
            <!-- <a href="#">Forget Password??</a>     -->
            </form>
        
        
        </div>
</div>
</body>

</html>