<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

    <link rel="stylesheet" href="/css1/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css1/main.css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">Agro Smart!!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link pull-right " href="/register">Register<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pull right" href="/login">Login</a>
            </li>
           
          
           
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0"  action="/logou" method="POST">
            <input class="form-control mr-sm-2" type="text" name="logout" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form> -->
    </div>
</nav>

<!-- <div class="image" style="height: 60px;">
    <div class="container ">
        <div class="row">
            <h1>Welcome</h1>
        </div>
    </div>
</div> -->
<div class="body2"></div>
   <div class="register-box">
    <img src="../images/avatar.png" class="avatar">
        <h1>Register Here</h1>
        <form action="register" method="POST">
            Name:<br>
            <input type="text" name="name" placeholder="name"><br>
            <br>
            Email:<br>
            <input type="text" name="email" placeholder="example@gmail.com"><br>
            <br>
            Password:<br>
            <input type="password" name="password"><br>
            <br>
            Contact:<br>
            <input type="text" name="Contact_No" placeholder=""><br>
            <br>
            Address:<br>
            <input type="text" name="Address" placeholder=""><br>
            <br>
            userType:<br>
            <select name="userType">
                <option value="Govt" >GOVT</option>
                <option value="Farmer" >FARMER</option>
                
              </select><br>
            <br>
           
            <input type="submit" value="Create">
        
        </form>    
         <!-- <br>
            userType:<br>
            <select name="userType">
                <option value="Govt" >GOVT</option>
                <option value="Farmer" >FARMER</option>
                
              </select><br>
            <br>
           
            <input type="submit" value="Create"> -->
        
        </form>
        
        
    </div>

</body>

</html>